<a href="https://colab.research.google.com/github/cornel-kim/samples/blob/DataScienceColab/cluster1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
airline = pd.read_csv("https://modkenya.com/datascience/datasets/AirlinesCluster.csv")
airline

      Balance  QualMiles  BonusMiles  ...  FlightMiles  FlightTrans  DaysSinceEnroll
0       28143          0         174  ...            0            0             7000
1       19244          0         215  ...            0            0             6968
2       41354          0        4123  ...            0            0             7034
3       14776          0         500  ...            0            0             6952
4       97752          0       43300  ...         2077            4             6935
...       ...        ...         ...  ...          ...          ...              ...
3994    18476          0        8525  ...          200            1             1403
3995    64385          0         981  ...            0            0             1395
3996    73597          0       25447  ...            0            0             1402
3997    54899          0         500  ...          500            1             1401
3998     3016          0           0  ...            0            0             1398

[3999 rows x 7 columns]