<a href="https://colab.research.google.com/github/cornel-kim/samples/blob/DataScienceColab/cluster1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import pandas as pd
airline = pd.read_csv("https://modkenya.com/datascience/datasets/AirlinesCluster.csv")
airline

      Balance  QualMiles  BonusMiles  ...  FlightMiles  FlightTrans  DaysSinceEnroll
0       28143          0         174  ...            0            0             7000
1       19244          0         215  ...            0            0             6968
2       41354          0        4123  ...            0            0             7034
3       14776          0         500  ...            0            0             6952
4       97752          0       43300  ...         2077            4             6935
...       ...        ...         ...  ...          ...          ...              ...
3994    18476          0        8525  ...          200            1             1403
3995    64385          0         981  ...            0            0             1395
3996    73597          0       25447  ...            0            0             1402
3997    54899          0         500  ...          500            1             1401
3998     3016          0           0  ...            0            0             1398

[3999 rows x 7 columns]

In [4]:
#check for nulls. Machine learning cant work with null fields
print(airline.isnull().sum())

Balance            0
QualMiles          0
BonusMiles         0
BonusTrans         0
FlightMiles        0
FlightTrans        0
DaysSinceEnroll    0
dtype: int64

In [5]:
airline.describe()

            Balance     QualMiles  ...  FlightTrans  DaysSinceEnroll
count  3.999000e+03   3999.000000  ...  3999.000000       3999.00000
mean   7.360133e+04    144.114529  ...     1.373593       4118.55939
std    1.007757e+05    773.663804  ...     3.793172       2065.13454
min    0.000000e+00      0.000000  ...     0.000000          2.00000
25%    1.852750e+04      0.000000  ...     0.000000       2330.00000
50%    4.309700e+04      0.000000  ...     0.000000       4096.00000
75%    9.240400e+04      0.000000  ...     1.000000       5790.50000
max    1.704838e+06  11148.000000  ...    53.000000       8296.00000

[8 rows x 7 columns]

In [14]:
airline.corr()

                  Balance  QualMiles  ...  FlightTrans  DaysSinceEnroll
Balance          1.000000   0.108722  ...     0.255700         0.263129
QualMiles        0.108722   1.000000  ...     0.144004         0.017312
BonusMiles       0.403487   0.031021  ...     0.185261         0.210397
BonusTrans       0.324935   0.050725  ...     0.432364         0.161262
FlightMiles      0.217551   0.126774  ...     0.869193         0.037271
FlightTrans      0.255700   0.144004  ...     1.000000         0.059260
DaysSinceEnroll  0.263129   0.017312  ...     0.059260         1.000000

[7 rows x 7 columns]

In [13]:
#get a subset of data-count as 0, 1 and 2, i.e fightmile index 0
subset = airline[['FlightMiles', 'FlightTrans','DaysSinceEnroll']]
#convert subset to an array-list for slicing puposes to a multi-dimensional list
array = subset.values

array

array([[   0,    0, 7000],
       [   0,    0, 6968],
       [   0,    0, 7034],
       ...,
       [   0,    0, 1402],
       [ 500,    1, 1401],
       [   0,    0, 1398]])

In [32]:
#from the array pick values. Column names dissapear
#take the data to a model. Get and push to the model for clustering from the array
#the array allows for splitting and slicing
#:-means all rows,inbetween 20:400, 
#colums 0:3, always factor -1 in columns
#only define axis for supervised model
x = array[:,0:3]#decide the rows you want to work with from the 4000 given
#import model-klearn-circuit leanr
from sklearn.cluster import KMeans#has regression, cluster etc. KMeans is a model
model = KMeans(n_clusters=5, random_state=42)#pass parameters, n-clusters, randomize cluster to around of 42-lucky number
#model knows cluster by automatically setting mean or mean by default to come up with bits
#randomize using cross validation
model.fit(x)#fit data in x

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
       n_clusters=5, n_init=10, n_jobs=None, precompute_distances='auto',
       random_state=42, tol=0.0001, verbose=0)

In [33]:
#check the clusters-once created you can check the content created by kmeans
#fits everybody but not fix data using a mean or median
means = model.cluster_centers_#means for the 5 clusters from the model for each
#convert the array back to dataframe to avoid array being displayed
import pandas
clusters = pandas.DataFrame(means, columns=[ 'FlightMiles', 'FlightTrans','DaysSinceEnroll'])
clusters

    FlightMiles  FlightTrans  DaysSinceEnroll
0    190.722344     0.674725      1849.986081
1    283.034296     0.990072      6677.178700
2  12455.304348    25.478261      3678.956522
3    190.777444     0.672932      4274.933835
4   4194.329480    11.526012      4487.260116