<a href="https://colab.research.google.com/github/cornel-kim/samples/blob/DataScience/lesson1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Introduction to Data Science.**

Using MatplotLib

Welcome all

In [7]:
#import matplotlib as plt
import matplotlib.pyplot as plt
#import pandas as pd
import pandas as pd

#import a csv
customer = pd.read_csv("http://modcom.co.ke/datasets/Mall_Customers.csv")
#read csv data
customer.tail(50)

     CustomerID  Gender  Age  Annual Income  Spending Score
150         151    Male   43             78              17
151         152    Male   39             78              88
152         153  Female   44             78              20
153         154  Female   38             78              76
154         155  Female   47             78              16
155         156  Female   27             78              89
156         157    Male   37             78               1
157         158  Female   30             78              78
158         159    Male   34             78               1
159         160  Female   30             78              73
160         161  Female   56             79              35
161         162  Female   29             79              83
162         163    Male   19             81               5
163         164  Female   31             81              93
164         165    Male   50             85              26
165         166  Female   36             85              75
166         167    Male   42             86              20
167         168  Female   33             86              95
168         169  Female   36             87              27
169         170    Male   32             87              63
170         171    Male   40             87              13
171         172    Male   28             87              75
172         173    Male   36             87              10
173         174    Male   36             87              92
174         175  Female   52             88              13
175         176  Female   30             88              86
176         177    Male   58             88              15
177         178    Male   27             88              69
178         179    Male   59             93              14
179         180    Male   35             93              90
180         181  Female   37             97              32
181         182  Female   32             97              86
182         183    Male   46             98              15
183         184  Female   29             98              88
184         185  Female   41             99              39
185         186    Male   30             99              97
186         187  Female   54            101              24
187         188    Male   28            101              68
188         189  Female   41            103              17
189         190  Female   36            103              85
190         191  Female   34            103              23
191         192  Female   32            103              69
192         193    Male   33            113               8
193         194  Female   38            113              91
194         195  Female   47            120              16
195         196  Female   35            120              79
196         197  Female   45            126              28
197         198    Male   32            126              74
198         199    Male   32            137              18
199         200    Male   30            137              83

In [5]:
#check for null fields
print(customer.isnull().sum)

<bound method DataFrame.sum of      CustomerID  Gender    Age  Annual Income  Spending Score
0         False   False  False          False           False
1         False   False  False          False           False
2         False   False  False          False           False
3         False   False  False          False           False
4         False   False  False          False           False
..          ...     ...    ...            ...             ...
195       False   False  False          False           False
196       False   False  False          False           False
197       False   False  False          False           False
198       False   False  False          False           False
199       False   False  False          False           False

[200 rows x 5 columns]>

In [8]:
#decription of data
customer.describe()

       CustomerID         Age  Annual Income  Spending Score
count  200.000000  200.000000     200.000000      200.000000
mean   100.500000   38.850000      60.560000       50.200000
std     57.879185   13.969007      26.264721       25.823522
min      1.000000   18.000000      15.000000        1.000000
25%     50.750000   28.750000      41.500000       34.750000
50%    100.500000   36.000000      61.500000       50.000000
75%    150.250000   49.000000      78.000000       73.000000
max    200.000000   70.000000     137.000000       99.000000

In [9]:
#check data correlation
customer.corr()

                CustomerID       Age  Annual Income  Spending Score
CustomerID        1.000000 -0.026763       0.977548        0.013835
Age              -0.026763  1.000000      -0.012398       -0.327227
Annual Income     0.977548 -0.012398       1.000000        0.009903
Spending Score    0.013835 -0.327227       0.009903        1.000000

In [12]:
#check data variance
customer.var()

CustomerID        3350.000000
Age                195.133166
Annual Income      689.835578
Spending Score     666.854271
dtype: float64

In [13]:
#check data standard deviation
customer.std()

CustomerID        57.879185
Age               13.969007
Annual Income     26.264721
Spending Score    25.823522
dtype: float64

In [14]:
#check data Mean
customer.mean()

CustomerID        100.50
Age                38.85
Annual Income      60.56
Spending Score     50.20
dtype: float64

In [17]:
#check data Median
customer.median()

CustomerID        100.5
Age                36.0
Annual Income      61.5
Spending Score     50.0
dtype: float64